@import '~antd/dist/antd.css';

.correct{
    color: green;
  }
  
  .incorrect{
    color: red;
    font-style: italic;
  }
  
  .bold{
    font-weight: bold;
  }
  
  .italic{
    font-style: italic;
  }
  
  .invalid{
    color: black;
  }